<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
<Properties>
    <Property name="LOG_DIR">D:\\Learning\\Git\\_Log\\javacodechunker\\logs</Property>
</Properties>
<Appenders>
    <Console name="Console" target="SYSTEM_OUT">
        <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss}] [%-5level] %L %c - %msg%n"/>
    </Console>

    <!-- Rolling File Output -->
    <RollingFile name="RollingFile" fileName="${LOG_DIR}\\codechunker.log"
                 filePattern="${LOG_DIR}\\archive\\codechunker-%d{yyyy-MM-dd}-%i.log.gz">
        <PatternLayout>
            <Pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%-5level] %L %c - %msg%n</Pattern>
        </PatternLayout>
        <Policies>
            <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            <SizeBasedTriggeringPolicy size="100KB"/>
        </Policies>
        <DefaultRolloverStrategy max="15">
            <Delete basePath="${LOG_DIR}\\archive" maxDepth="1">
                <IfFileName glob="codechunker-*.log.gz"/>
                <IfLastModified age="7d"/>
            </Delete>
        </DefaultRolloverStrategy>
    </RollingFile>
</Appenders>

<Loggers>
    <Root level="info">
        <AppenderRef ref="Console"/>
        <AppenderRef ref="RollingFile"/>
    </Root>

    <!-- Optional: Fine-tune your own package log level -->
    <Logger name="jp.co.jri.codechunker" level="debug" additivity="false">
        <AppenderRef ref="Console"/>
        <AppenderRef ref="RollingFile"/>
    </Logger>
</Loggers>
</Configuration>